<h1 class="main-title">{{title}}</h1>
<p>📚 A list of good books on the subjects of design ans development. If you have any recommendations,<br />
please send me a tweet at <a href="https://twitter.com/cadxcad" target="_blank">@cadxcad</a> and I will add it to the list.</p>
<br>
<h3 class="page-header">Books Recently Added</h3>
<div class="book-grid">
  {{#each books}}
  <a href="/books/{{id}}">
    <img class="book-cover" src="{{coverImagePath}}">
  </a>
  {{/each}}
</div>
<a href=""></a>