<h1 class="main-title"><span style="font-weight: 500; letter-spacing:-1px">Design & Development </span><span style="font-weight: 200; letter-spacing:-1px">Books Repository</span></h1>
<p>📚 A list of good design and development books. If you have any recommendations,<br />
please send me a tweet at <a href="https://twitter.com/cadxcad" target="_blank">@cadxcad</a> and I will add it to the list.</p>
<br>
<h3 class="page-header">Books Recently Added</h3>
<div class="book-grid">
  {{#each books}}
  <a href="/books/{{id}}">
    <img class="book-cover" src="{{coverImagePath}}">
  </a>
  {{/each}}
</div>
<a href=""></a>