<h1 class="main-title">{{title}}</h1>
<br>

<h2 class="page-header">Books Recently Added</h2>
<br>
<div class="book-grid">
  {{#each books}}
  <a href="/books/{{id}}">
    <img class="book-cover" src="{{coverImagePath}}">
  </a>
  {{/each}}
</div>
