body {
  padding: 50px;
  font-family: 'Rubik', sans-serif;
}

a {
  color: #0366d6;
}

h1, h2, h3, h4, h5, h6 {

  font-weight: 700;
  letter-spacing: -1px;

  
}


.filepond--root {
  font-family: 'Rubik';
  margin-bottom: 0; 
}

.filepond--panel-root {
  background-color: var(--form-input-background-color);
  border: 1px solid var(--form-input-border-color);
}

.filepond--drop-label {
  color: var(--color-text-light);
  font-size: inherit;
}