<h2>{{author.name}}</h2>
<a href="/authors/{{author.id}}/edit">Edit</a>
<form method="POST" action="/authors/{{id}}?_method=DELETE">
    <button type="submit">Delete</button>
</form>
<div class="book_list">
  {{#each booksByAuthor}} 
  <img height="150" width="100" src="{{coverImagePath}}">
  {{/each}}
</div>